<div class="jumbotron" style="text-align: center">

  <h1>MEAN Auth App</h1>
  <p>Welcome to our costum MEAN application built from scratch</p> 
<a class="btn  btn-lg btn-primary" href="register">Register</a>
	<a class="btn btn-success"  href="login" style="color: gray">login</a>

</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Express BackEnd</h3>
      <p>A rock solid Nodejs/Express server using MongoDB</p>
      
    </div>
    <div class="col-sm-4">
      <h3>Angular-CLI</h3>
      <p>Angular-CLI for genrating expressions , services and more....</p>
      
    </div>
    <div class="col-sm-4">
      <h3>JWT Token</h3> 
      <p>Full Featured authentication app using JSON Web Token</p>
    </div>
  </div>
</div>