    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="navbar" aria-expand="false" aria-control="navbar">
       </button>
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
            <a class="navbar-brand" href="#">Mean Auth App</a>
   </div>
    <div id="navbar" class="collape navbar-collapse">
        <ul class="nav navbar-nav navbar-left">
            <li class="nav-item active"><a class="nav-link" href="#">Home</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-rights">
            <li class="nav-item"><a class="nav-link" href="login">Login</a></li>
            <li class="nav-item"><a class="nav-link" href="register">Register</a></li>
            <li><a (click)=onclick() href="#">Logout</a></li>
        </ul>
    </div>
  </div>
 </nav>
